<section class="hero is-blue contacts">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Get in touch
            </h1>
            <h2 class="subtitle">
                1600 Pensylvania Ave NW, Washington, DC 20500, United States of America. Tel. (202) 456-1111
            </h2>
        </div>
        <div class="container">
            <div class="contact-form">
                <div class="columns">
                    <div class="column">
                        <div class="control">
                            <input class="input" type="text" placeholder="Your Name">
                        </div>
                    </div>
                    <div class="column">
                        <div class="control">
                            <input class="input" type="email" placeholder="Your Email">
                        </div>
                    </div>
                </div>

                <div class="control">
                    <textarea class="textarea" placeholder="e.g. Hello world">Your Message</textarea>
                </div>
                <button class="button is-lblue is-large">Send Message</button>
            </div>

        </div>


    </div>
    </div>
</section>