<section class="footer">
    <footer>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Google+</li>
            <li>LinkedIn</li>
            <li>Behance</li>
            <li>Dribble</li>
            <li>Github</li>
        </ul>
    </footer>
</section>