<section class="hero is-purple first">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Hi there! We are new kids on the block and we build awesome websites mobile apps.
            </h1>
            <button class="button is-orange is-large">Work with us!</button>
        </div>
    </div>
</section>