<section class="section main-navigation">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                Cuda
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-dark-purple is-small">
                        Home
                    </a>
                    <a class="button is-purple is-small">
                        About
                    </a>
                    <a class="button is-purple is-small">
                        Work
                    </a>
                    <a class="button is-purple is-small">
                        Blog
                    </a>
                    <a class="button is-purple is-small">
                        Contact
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
</section>