<section class="hero is-yellow portfolio">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Our Portfolio
            </h1>
            <h2 class="subtitle">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et sit cupiditate perferendis, doloremque
                debitis maxime?
            </h2>
        </div>
        <div class="container">
            <div class="tabs is-centered">
                <ul>
                    <li class="is-active"><a>All</a></li>
                    <li><a>Web</a></li>
                    <li><a>Apps</a></li>
                    <li><a>Icons</a></li>
                </ul>
            </div>
            <div class="columns is-desktop is-multiline is-vcentered">
                <div class="column is-half">
                    <img src="./assets/images/1.png" />
                    <h2>Isometric Perspective Mock-up</h2>
                </div>
                <div class="column is-half">
                    <img src="./assets/images/2.png" />
                    <h2>Timezone App UI</h2>
                </div>
                <div class="column is-half">
                    <img src="./assets/images/3.png" />
                    <h2>Viro Media Players UI</h2>
                </div>
                <div class="column is-half">
                    <img src="./assets/images/4.png" />
                    <h2>Viro Media Players UI</h2>
                </div>

            </div>
            <button class="button is-teal is-large">Load more</button>


        </div>
    </div>
</section>