<section class="hero is-teal services">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Services we provide
            </h1>
            <h2 class="subtitle">
                We are working with both individuals and businesses from all over the world to create awesome websites
                and applications.
            </h2>
        </div>
        <div class="container">
            <div class="columns is-desktop is-vcentered">
                <div class="column">
                    <div class="services">
                        <img src="./assets/images/Flag-icon.png" class="" alt="Flag">
                        <h3 class="title">Branding</h3>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                    </div>

                </div>
                <div class="column">
                    <div class="services">
                        <img src="./assets/images/Crayon-icon.png" class="" alt="Crayon">
                        <h3 class="title">Design</h3>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                    </div>
                </div>
                <div class="column">
                    <div class="services">
                        <img src="./assets/images/Gears-icon.png" class="" alt="Gears">
                        <h3 class="title">Development</h3>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                    </div>
                </div>
                <div class="column">
                    <div class="services">
                        <img src="./assets/images/Rocket-icon.png" class="" alt="Rocket">
                        <h3 class="title">Rocket Science</h3>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>