<section class="hero is-lightgrey team">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Meet our beautiful team
            </h1>
            <h2 class="subtitle">
                We are working with both individuals and businesses from all over the world to create awesome websites
                and applications.
            </h2>
        </div>
        <div class="container">
            <div class="columns is-desktop is-vcentered">
                <div class="column">
                    <div class="team-member">
                        <img class="img-circle" src="./assets/images/anne.jpg">
                        <h3 class="title">Anne Hathaway</h3>
                        <p class="subtitle">CEO / Marketing Guru</p>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                        <div class="social">
                            <img src="./assets/images/Fb.png">
                            <img src="./assets/images/Twitter.png">
                            <img src="./assets/images/LinkedIn.png">
                            <img src="./assets/images/Mail.png">
                        </div>
                    </div>


                </div>
                <div class="column">
                    <div class="team-member">
                        <img class="img-circle" src="./assets/images/kate.jpg">
                        <h3 class="title">Kate Upton</h3>
                        <p class="subtitle">Creative Director</p>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                        <div class="social">
                            <img src="./assets/images/Twitter.png">
                            <img src="./assets/images/LinkedIn.png">
                            <img src="./assets/images/Mail.png">
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="team-member">
                        <img class="img-circle" src="./assets/images/olivia.jpg">
                        <h3 class="title">Olivia Wilde</h3>
                        <p class="subtitle">Lead Designer</p>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                        <div class="social">
                            <img src="./assets/images/Fb.png">
                            <img src="./assets/images/Twitter.png">
                            <img src="./assets/images/Mail.png">
                        </div>
                    </div>

                </div>
                <div class="column">
                    <div class="team-member">
                        <img class="img-circle" src="./assets/images/greene.jpg">
                        <h3 class="title">Ashley Greene</h3>
                        <p class="subtitle">SEO / Developer</p>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit
                            numquam
                            ipsum laborum aliquid, animi pariatur!</p>
                        <div class="social">
                            <img src="./assets/images/Fb.png" />
                            <img src="./assets/images/Twitter.png" />
                            <img src="./assets/images/LinkedIn.png" />
                            <img src="./assets/images/Mail.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>